

{{#each this}}


<a href="https://commons.wikimedia.org/w/thumb.php?width=400&f={{this.mainsnak.datavalue.value}}" title="{{this.mainsnak.datavalue.datatype}}" data-dialog>
    <img src="https://commons.wikimedia.org/w/thumb.php?width=100&f={{this.mainsnak.datavalue.value}}" alt="{{this.mainsnak.datavalue.value}}">
</a>


{{/each}}
