Lat: {{this.mainsnak.datavalue.value.latitude}}<br/>
Lon: {{this.mainsnak.datavalue.value.longitude}}
<div id="mapid" style="height: 200px;"></div>
{{globecoordinates_PlotPoint this.mainsnak.datavalue.value.latitude this.mainsnak.datavalue.value.longitude "mapid" this}}
