  {{! wikibasetemplate mainsnak.datavalue.value.numeric-id "defaultText" this "A4" }}
  <a class="wikidata-fetchlabel" data-wikidata="{{ mainsnak.datavalue.value.id}}" href="./simple.html?{{ mainsnak.datavalue.value.id}}" >Fetching...</a>


  <li class="todowikidata-fetchlabel" data-wikidata="{{ mainsnak.datavalue.value.id}}" data-handlebartemplate="QLItemplate" >Fetching...will be replaced by content of QLITemplate</a>
    <div class="todowikidata-fetchlabel" data-wikidata="{{ mainsnak.datavalue.value.id}}" data-handlebartemplate="QSpecialDIVtemplate" >Fetching...will be replaced by content of QSpecialDIVemplate</a>
