.media-container-sharebox h3 {
  font-family: "Crimson-semibold", Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 17px; }

.media-container-sharebox p {
  font-size: 13px;
  line-height: 1.25; }

.media-container-sharebox .article-inzet {
  padding: 20px; }

.media-container-sharebox form {
  overflow: hidden; }

.media-container-sharebox input {
  height: 40px;
  float: left;
  border: 0;
  border-radius: 0; }

.media-container-sharebox input[type="email"] {
  width: calc(100% - 40px); }

.media-container-sharebox input[type="submit"] {
  width: 40px;
  text-transform: uppercase;
  background: #3f97aa;
  color: white;
  font-size: 15px;
  font-family: "Crimson-semibold", Georgia, Cambria, "Times New Roman", Times, serif;
  padding: 0; }
